<h1>All schools</h1>

  <table style="width:450px">
    <tr>
      <th>University Name</th>
      <th># of students</th>
    </tr>

    <% School.all.each do |school| %>
      <tr>
        <td><%= link_to school.name, school_path(school) %></td>
        <td><%= school.users.length %></td>
      </tr>
    <% end %>
  </table>

<br/>
<%= link_to "Add a New School", new_school_path %> <br/><br/>
<%= link_to "See all students", users_path %>
