<h1>All schools</h1>

<ul id="schools">
  <% @schools.each do |school| %>
    <li>
      <%= link_to school.name, school_path(school) %>, <%= link_to "Delete", school_path(school), method: :destroy, data: {confirm: "Are you sure you want to delete this school?"} %>
    </li>
  <% end %>
</ul>

<%= link_to "Add a New User", new_school_path %>
