<h1>All schools</h1>

<ul id="schools">
  <% @schools.each do |school| %>
    <li>
      <%= link_to school.name, school_path(school) %>, <%= link_to "X", school_path(school), method: :delete, data: {confirm: "Are you sure you want to go back?"} %>
    </li>
  <% end %>
</ul>

<%= link_to "Add a New School", new_school_path %> <br/>
<%= link_to "See all students", users_path %>
