<h1>students applying to <%= @school.name %>:</h1>

<% if @school.users.length > 0 %>
  <p>
    <% @school.users.each do |user| %>
      <%= link_to user.name, user_path(user) %>
    <% end %>
  </p>
<% else %>
  <p>
    No one is applying here yet!
  </p>
<% end %>
